<!DOCTYPE html>
<html>

<head>
</head>

<body>

<div id="main"></div>


<canvas id="canvas" width="1000" height="500" style="border:1px solid #000000;">
Mettez à jour votre navigateur.
</canvas>



<script type="text/javascript" src="bundle.js"></script>

<body>
</html>
